<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MapActionToolbars.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MapActionToolbars.Properties.Settings.ODBC_lookup_ConnectionString"
            connectionString="Dsn=MS Access Database;dbq=C:\SoftwareDevelopment\desktop\mapaction\layer_rename_tool\layer_name_lookup.accdb;defaultdir=C:\SoftwareDevelopment\desktop\mapaction\layer_rename_tool;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"
            providerName="System.Data.Odbc" />
        <add name="MapActionToolbars.Properties.Settings.layer_name_lookupConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Resources\layer_name_lookup.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <MapActionToolbars.Properties.Settings>
            <setting name="crash_move_folder_path" serializeAs="String">
                <value>C:\2018-05-20-Liberia-Ebola</value>
            </setting>
        </MapActionToolbars.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
