<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RenameLayer.Properties.Settings.ODBC_lookup_ConnectionString"
            connectionString="Dsn=MS Access Database;dbq=C:\SoftwareDevelopment\desktop\mapaction\layer_rename_tool\layer_name_lookup.accdb;defaultdir=C:\SoftwareDevelopment\desktop\mapaction\layer_rename_tool;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>